DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_USER="portfolio_user"
DATABASE_PASSWORD="password"
DATABASE_NAME="portfolio"
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=public"
JWT_SECRET="generate_a_random_jwt_secret_key"

# Initial Admin Credentials (Optional, falls back to default values during seeding if not set)
ADMIN_EMAIL="admin@portfolio.local"
ADMIN_PASSWORD="password123"

# SMTP Configuration (Optional, relayer logs to console in development if not configured)
SMTP_HOST="smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="noreply@votredomaine.com"
SMTP_TO="norris@votredomaine.com"
